<div class="app-page-title">
    <h2>{{ this.siteDetails ? 'Edit' : 'Add' }} Site</h2>
    <section class="address-info-form">
        <form [formGroup]="siteForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" placeholder="Site Name" formControlName="siteName">
                    <div *ngIf="isSubmited && fc.siteName.errors">
                        <div class="form-error" *ngIf="fc.siteName.errors?.required">Site Name is required.</div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" placeholder="Members" formControlName="members" (keypress)="keyPressNumbersDecimal($event)">
                    <div *ngIf="isSubmited && fc.members.errors">
                        <div class="form-error" *ngIf="fc.members.errors?.required">Members is required.</div>
                    </div>
                </div>
            </div>
            <div class="info-per-btn">
                <button type="submit" class="next action-button cancel-btn"  (click)="GoBack()">Cancel</button>
                <button type="submit" class="next action-button save-btn">Submit</button>
            </div>
        </form>
    </section>
</div>