<div class="app-page-title">
    <div class="user-header">

      <h2 class="page-heading">Form Settings</h2>

    </div>
    <div class="form-setting">


      <form>
        <div class="form-group row mb-5">
          <label for="inputEmail3" class="col-sm-3 col-form-label">Inspection Assigned to :</label>
          <div class="col-sm-9">
            <select id="" class="form-control shadow-input border-0">
              <option selected="">John</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </div>
        </div>

        <div class="user-header">
          <h5 class="mb-3">Frequency of inspection :</h5>
        </div>
        <div class="form-row mb-2">

          <div class="form-group col-md-4">


            <label class="form-data">Monthly
              <input type="radio" checked="checked" name="home">
              <span class="checkmark"></span>
            </label>


          </div>

          <div class="form-group col-md-4">



            <label class="form-data">Quaterly
              <input type="radio" checked="checked" name="home">
              <span class="checkmark"></span>
            </label>


          </div>

          <div class="form-group col-md-4">



            <label class="form-data">Bi-Yearly
              <input type="radio" name="home">
              <span class="checkmark"></span>
            </label>


          </div>


        </div>
        <div class="user-header">
          <h5 class="mb-3">Inspection Report On Completion to be sent to :</h5>
        </div>
        <div class="form-row mb-2">

        <div class="form-group col-md-4">

          <label class="form-data" for="inlineRadio1"> Task Allocator
            <input type="radio" checked="checked" name="1" id="inlineRadio1" value="Task Allocator">
            <span class="checkmark"></span>
          </label>

          <label class="form-data" for="inlineRadio2"> Care Home Manager
            <input type="radio" checked="checked" name="1" id="inlineRadio2" value="Care Home Manager">
            <span class="checkmark"></span>
          </label>

          <label class="form-data"> Inspectors
            <input type="radio" checked="checked" name="1">
            <span class="checkmark"></span>
          </label>

          <label class="form-data"> Others
            <input type="radio" checked="checked" name="1">
            <span class="checkmark"></span>
          </label>


          <input type="email" class="form-control shadow-input border-0" placeholder="Email">

          <div class="info-per-btn">
            <button type="button" class="btn form-btn">Save</button>
            <button type="button" class="btn form-btn-white">Cancel</button>



          </div>
        </div>
        </div>
      </form>
    </div>

  </div>